<div class="panel panel-default uoe-overview-high">
    <div class="panel-heading"><h3>Create new user</h3></div>
    <div class="panel-body">
        <button type="button" ng-click="$ctrl.createUser()" class="btn btn-uoe btn-md">Create User</button>
    </div>
</div>

<div class="panel panel-default uoe-overview-high">
    <div class="panel-heading"><h3>Edit/Delete existing users</h3></div>
    <div class="panel-body">
        <div class="table-responsive">
            <div ng-if="$ctrl.loading" class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    Loading ...
                </div>
            </div>

            <table class="table" ng-if="!$ctrl.loading && $ctrl.users" ng-cloak>
                <thead>
                    <th>UUN</th>
                    <th>Roles</th>
                    <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="user in $ctrl.users">
                    <td>{{user.uun}}</td>
                    <td><ul>
                        <li ng-repeat="role in user.uiRoles"><abbr title="{{role.roleDescription}}">{{role.roleCode}}</abbr></li>
                        </ul>
                    </td>
                    <td><button type="button" ng-click="$ctrl.editUser(user)" class="btn btn-warning">Edit</button>
                        <button type="button" ng-click="$ctrl.deleteUser(user)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>