<div class="panel panel-default uoe-overview-high">
    <div class="panel-heading"><h3>Create/Edit Subscription</h3></div>
    <div class="panel-body">
        
        <form name="form" novalidate class="form-horizontal">
                
            <!-- read topics from db, free text topic is not allowed anymore, disable
            <div class="form-group">
                <label class="col-sm-2 control-label">Topic:</label>
                <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.subscription.topic" placeholder="Topic" ng-required="true"/>
                <p class="help-block" ng-show="form.topic.$touched && form.topic.$invalid">
                     Topic is required.
                </p>
                </div>
            </div>
            --> 
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Topics:</label>
                <div class="col-sm-10">
                <select ng-model="$ctrl.subscription.topic" required>
                        <option ng-repeat="topic in $ctrl.topics" value="{{topic.topicId}}">{{topic.topicId}}</option>
                </select>
                </div>
            </div>            
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Subscribers:</label>
                <div class="col-sm-10">
                <select ng-model="$ctrl.subscription.subscriberId" required>
                        <option ng-repeat="subscriber in $ctrl.subscribers" value="{{subscriber.subscriberId}}">{{subscriber.description}}</option>
                </select>
                </div>
            </div>
                
            
            
            <div class="form-group">  
                <label class="col-sm-2 control-label"></label>  
                <div class="col-sm-10">
                <button type="button" ng-disabled="form.$invalid" ng-click="$ctrl.saveSubscription($ctrl.subscription)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="$ctrl.cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

