<div ng-if="successMessage" id="successMessage" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                <strong>Success:</strong>  {{successMessage}}
            </div>
        </div>
    </div>
</div>

<div ng-if="errorMessage" id="errorMessage" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <strong>Warning:</strong>  {{errorMessage}}
            </div>
        </div>
    </div>
</div>
<br/>
<div class="panel panel-default uoe-overview-high">
    <div class="panel-heading"><h3>Create/Edit Emergency Notification</h3></div>
    <div class="panel-body">
        <form name="editNotificationForm" novalidate class="form-horizontal">

            <input type="hidden" ng-model="notification.publisherId" value="notification-ui"/>

            <div class="form-group" ng-class="{ 'has-error': editNotificationForm.title.$touched && editNotificationForm.title.$invalid }" >
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <input name="title" type="text" ng-model="notification.title" placeholder="Title" required>
                    <p class="help-block" ng-show="editNotificationForm.title.$touched && editNotificationForm.title.$invalid">
                        Title is required.
                    </p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editNotificationForm.body.$invalid }">
                <label class="col-sm-2 control-label">Body:</label>
                <div class="col-sm-10">
                    <textarea name="body" ng-model="notification.body" ckeditor="editorOptions" required></textarea>

                    <p class="help-block" ng-show="editNotificationForm.body.$invalid">
                        Notification Body is required.
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editNotificationForm.url.$touched && editNotificationForm.url.$invalid }">
                <label class="col-sm-2 control-label">URL:</label>
                <div class="col-sm-10">
                    <input name="url" type="url" ng-model="notification.url" placeholder="URL" data-ng-pattern="/^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/i">
                </div>
                <p class="help-block" ng-show="editNotificationForm.url.$touched && editNotificationForm.url.$invalid">
                    Please enter a URL in the format http(s)://(url), e.g. http://www.ed.ac.uk
                </p>
            </div>
            
            <div class="form-group">                
              <label class="col-sm-2 control-label">Group:</label>              
              <div class="col-sm-10">
                    <input id="notificationGroupName" name="notificationGroupName" ng-model="notification.notificationGroupName" placeholder="LDAP Group" readonly />                           
                    <button ng-click="showDiv = !showDiv">Select Group</button>
                     <div ng-show="showDiv" >
                         <input ng-show="false" id="notificationGroup" name="notificationGroup" type="text" ng-model="notification.notificationGroup" placeholder="Selected LDAP Group" readonly>
                        <div id="notificationGroupTree" class="demo"></div>	                
                     </div>
              </div>  
            </div>            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Topic:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="notification.topic" required readonly>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editNotificationForm.startDate.$touched && (editNotificationForm.startDate.$invalid || badStartDate) }">
                <label class="col-sm-2 control-label">Start Date:</label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-change="checkDates(notification)" ng-model="notification.startDate" is-open="startDateStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openStartDate($event)"  ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    <p class="help-block" ng-show="editNotificationForm.startDate.$touched && (editNotificationForm.startDate.$invalid || badStartDate)">
                        Date should be in the format DD-Month-YYYY, e.g. 29-November-20152., and should be from today onwards.
                    </p>
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editNotificationForm.startDate.$touched && (editNotificationForm.endDate.$invalid || badEndDate) }">
                <label class="col-sm-2 control-label">End Date:</label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input name="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-change="checkDates(notification)" ng-model="notification.endDate" is-open="endDateStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEndDate($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    <p class="help-block" ng-show="editNotificationForm.endDate.$touched && (editNotificationForm.endDate.$invalid || badEndDate)">
                        Date should be in the format DD-Month-YYYY, e.g. 29-November-20152. End Date should be after Start Date.
                    </p>
                    </p>
                </div>
            </div>
            <input type="button" ng-click="reset()" value="Reset" class="btn btn-warning"/>
            <input type="submit" ng-disabled="editNotificationForm.$invalid" ng-click="update(notification)" class="btn btn-primary" value="Save" />

        </form>
    </div>
</div>


