<div ng-if="successMessage" id="successMessage" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                <strong>Success:</strong>  {{successMessage}}
            </div>
        </div>
    </div>
</div>

<div ng-if="errorMessage" id="errorMessage" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <strong>Warning:</strong>  {{errorMessage}}
            </div>
        </div>
    </div>
</div>

<br/>

<div >
  <table ng-if="triggerList" class="table table-striped table-bordered" cellspacing="0" width="100%"> 
     <thead>
     <tr>
       <th>Job Name</th>
       <th>Last Run</th>
       <th>Next Run</th>
       <th>State</th>
       <th>Times Executed</th>
     </tr>
     </thead>
     <tbody>
      <tr ng-repeat="trigger in triggerList">
         <td>{{trigger.jobName}}</td>
         <td>{{trigger.prevRun}}</td>
         <td>{{trigger.nextRun}}</td>
         <td>{{trigger.triggerState}}</td>
         <td>{{trigger.timesExecuted}}</td>
      </tr>
     </tbody>
  
  </table>
</div>