<h3>View emergency notifications</h3>
<a href="#/edit-emergency-notification" class="btn btn-primary btn-md">Create Emergency Notification</a>

<div class="table-responsive">
    <table class="table" ng-if="notificationList" ng-cloak>
        <thead>
            <th>Notification Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="notification in notificationList">
                <td>{{notification.title}}</td>
                <td>{{notification.startDate}}</td>
                <td>{{notification.endDate}}</td>
                <td><button type="button" ng-click="editNotification(notification)" class="btn btn-warning">Edit</button></td>
                <td><button type="button" ng-click="editNotification(notification)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>